<a
  href="{{ href }}"
  class="{% if active %} bg-bg-alternate text-white {% else %} text-text-secondary hover:text-text-primary {% endif %} py-3 px-6 rounded-lg font-medium flex-shrink-0 lg:flex-shrink"
>
  {{ title }}
</a>
