{
    "Button Component with Icon": {
      "prefix": "buttonComp",
      "body": [
        "<a href=\"#\" class=\"button ${1:button-style}\">",
        "  ${2:Discover the offer}",
        "  <span class=\"button_icon\">",
        "    <img src=\"{{ 'arrow-right.svg' | asset_url }}\" alt=\"Arrow Right\" class=\"button_img\" />",
        "  </span>",
        "</a>"
      ],
      "description": "Reusable link button component with icon as an image"
    }
  }
  


  {
    "Button Component with Icon Only": {
      "prefix": "buttonCompIconOnly",
      "body": [
        "<a href=\"#\" class=\"button_account\">",
        "  <img src=\"{{ 'user.svg' | asset_url }}\" alt=\"user\" class=\"button_account-icon\" />",
        "</a>"
      ],
      "description": "Reusable button component with only an icon image"
    }
  }
  