<div class="flex items-start gap-3">
  <div class="flex-shrink-0 w-[36px] h-[36px] border-[1px] border-[#DCDCDC] bg-[#F7F7F7] rounded-full flex items-center justify-center">
    {% case icon %}
      {% when 'mail' %}
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.6665 5.83333L8.4706 10.5962C9.02158 10.9819 9.29707 11.1747 9.59672 11.2494C9.86142 11.3154 10.1383 11.3154 10.403 11.2494C10.7026 11.1747 10.9781 10.9819 11.5291 10.5962L18.3332 5.83333M5.6665 16.6667H14.3332C15.7333 16.6667 16.4334 16.6667 16.9681 16.3942C17.4386 16.1545 17.821 15.772 18.0607 15.3016C18.3332 14.7669 18.3332 14.0668 18.3332 12.6667V7.33333C18.3332 5.9332 18.3332 5.23314 18.0607 4.69836C17.821 4.22795 17.4386 3.8455 16.9681 3.60582C16.4334 3.33333 15.7333 3.33333 14.3332 3.33333H5.6665C4.26637 3.33333 3.56631 3.33333 3.03153 3.60582C2.56112 3.8455 2.17867 4.22795 1.93899 4.69836C1.6665 5.23314 1.6665 5.9332 1.6665 7.33333V12.6667C1.6665 14.0668 1.6665 14.7669 1.93899 15.3016C2.17867 15.772 2.56112 16.1545 3.03153 16.3942C3.56631 16.6667 4.26637 16.6667 5.6665 16.6667Z" stroke="#383838" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      {% when 'phone' %}
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_7902_3326)">
          <path d="M11.7079 5C12.5218 5.1588 13.2699 5.55688 13.8563 6.14328C14.4427 6.72968 14.8407 7.47772 14.9996 8.29167M11.7079 1.66667C13.399 1.85453 14.9759 2.61181 16.1798 3.81417C17.3836 5.01653 18.1429 6.59251 18.3329 8.28333M8.52204 11.5526C7.52072 10.5512 6.73007 9.41904 6.15007 8.21102C6.10018 8.10712 6.07523 8.05516 6.05607 7.98942C5.98797 7.75579 6.03689 7.46891 6.17856 7.27105C6.21843 7.21537 6.26606 7.16774 6.36132 7.07248C6.65266 6.78115 6.79833 6.63548 6.89356 6.48899C7.25273 5.93659 7.25273 5.22443 6.89356 4.67203C6.79833 4.52554 6.65266 4.37988 6.36132 4.08854L6.19893 3.92615C5.75606 3.48328 5.53462 3.26184 5.29681 3.14156C4.82384 2.90233 4.26529 2.90233 3.79232 3.14156C3.5545 3.26184 3.33307 3.48328 2.8902 3.92615L2.75883 4.05751C2.31748 4.49886 2.09681 4.71954 1.92827 5.01956C1.74125 5.35249 1.60678 5.86956 1.60792 6.25141C1.60894 6.59554 1.67569 6.83072 1.8092 7.30109C2.52668 9.82892 3.8804 12.2142 5.87039 14.2042C7.86037 16.1942 10.2457 17.5479 12.7735 18.2654C13.2439 18.3989 13.4791 18.4657 13.8232 18.4667C14.205 18.4678 14.7221 18.3333 15.055 18.1463C15.3551 17.9778 15.5757 17.7571 16.0171 17.3158L16.1484 17.1844C16.5913 16.7415 16.8128 16.5201 16.933 16.2823C17.1723 15.8093 17.1723 15.2508 16.933 14.7778C16.8128 14.54 16.5913 14.3185 16.1484 13.8757L15.9861 13.7133C15.6947 13.4219 15.549 13.2763 15.4026 13.181C14.8502 12.8219 14.138 12.8219 13.5856 13.181C13.4391 13.2763 13.2934 13.4219 13.0021 13.7133C12.9069 13.8085 12.8592 13.8562 12.8035 13.896C12.6057 14.0377 12.3188 14.0866 12.0852 14.0185C12.0194 13.9994 11.9675 13.9744 11.8636 13.9245C10.6556 13.3445 9.52335 12.5539 8.52204 11.5526Z" stroke="#383838" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_7902_3326">
          <rect width="20" height="20" fill="white"/>
          </clipPath>
          </defs>
        </svg>

      {% when 'location' %}
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.0002 10.4167C11.3809 10.4167 12.5002 9.29738 12.5002 7.91667C12.5002 6.53596 11.3809 5.41667 10.0002 5.41667C8.61945 5.41667 7.50016 6.53596 7.50016 7.91667C7.50016 9.29738 8.61945 10.4167 10.0002 10.4167Z" stroke="#383838" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.0002 18.3333C11.6668 15 16.6668 12.8486 16.6668 8.33334C16.6668 4.65144 13.6821 1.66667 10.0002 1.66667C6.31826 1.66667 3.3335 4.65144 3.3335 8.33334C3.3335 12.8486 8.3335 15 10.0002 18.3333Z" stroke="#383838" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

      {% when 'clock' %}
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_7902_3343)">
          <path d="M9.99984 5V10L13.3332 11.6667M18.3332 10C18.3332 14.6024 14.6022 18.3333 9.99984 18.3333C5.39746 18.3333 1.6665 14.6024 1.6665 10C1.6665 5.39762 5.39746 1.66666 9.99984 1.66666C14.6022 1.66666 18.3332 5.39762 18.3332 10Z" stroke="#383838" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </g>
          <defs>
          <clipPath id="clip0_7902_3343">
          <rect width="20" height="20" fill="white"/>
          </clipPath>
          </defs>
        </svg>
    {% endcase %}
  </div>

  {% if richtext != blank %}
    <div class="text-text-primary text-sm lg:text-lg mt-1">{{ richtext }}</div>
  {% endif %}
</div>
