<a
  href="{{ href }}"
  class="p-3 font-medium text-text-secondary global-transition hover:text-text-primary data-[active=true]:text-text-primary data-[active=true]:bg-bg-secondary rounded-[0.25rem] text-left"
  data-active="false"
>
  {{ title }}
</a>
