<a
  href="{{ href }}"
  target="_blank"
  class="global-transition text-neutral-white w-10 h-10 p-3 lg:w-14 lg:h-14 flex items-center justify-center rounded-2xl bg-bg-alternate hover:bg-[#B8643F]"
>
  {% if icon == 'facebook' %}
    {% render 'icon-facebook', width: 36, height: 36 %}
  {% elsif icon == 'instagram' %}
    {% render 'icon-instagram', width: 36, height: 36 %}
  {% endif %}
</a>
