<button
  class="inline-flex items-center justify-center gap-3 py-3 px-4 rounded-3xl bg-brand-turquoise hover:bg-[#3E8E94] text-white global-transition font-semibold border border-transparent w-full"
  type="submit"
>
  {% render 'icon-cart', width: '20', height: '20' %}
  Adauga in cos
</button>
