<button
  class="inline-flex items-center justify-center gap-3 py-3 px-4 rounded-3xl bg-bg-secondary hover:bg-bg-primary text-text-primary global-transition font-semibold border border-border-primary w-full"
  type="button"
>
  {% render 'icon-heart', width: '20', height: '20' %}
  Adaugă la favorite
</button>
