<button
  class="data-[active=true]:bg-bg-alternate data-[active=true]:text-white bg-bg-secondary text-text-secondary font-medium rounded-[0.375rem] px-4 py-2 w-full"
  data-active="{{ active | default: false }}"
  data-value="{{ value }}"
  pxm-tabs="btn"
>
  {{ text }}
</button>
