<a
  href="https://wa.me/{{whatsapp_number}}"
  target="_blank"
  class="fixed bottom-0 right-0 z-50 m-4 lg:w-16 lg:h-16 w-12 h-12 lg:m-6"
>
  <img
    src="https://cdn.shopify.com/s/files/1/0431/6663/0052/files/social.png?v=1746016118"
    alt="WhatsApp"
    width="48"
    height="48"
    class="w-full h-full object-contain"
  >
</a>
