<section>
  <div class="global-padding pt-5 pb-10 lg:py-16">
    <div class="container-large">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-5">
        {% for block in section.blocks %}
          <div class="flex flex-col gap-6 lg:gap-12 bg-bg-secondary p-6 lg:p-8 rounded-2xl border border-border-primary">
            {% if block.settings.icon %}
              <div class="w-10 h-10 lg:w-20 lg:h-20 flex items-center justify-center bg-bg-alternate rounded-lg">
                <img
                  src="{{ block.settings.icon | image_url: width: 48 }}"
                  width="48"
                  height="48"
                  alt="{{ block.settings.title }}"
                  class="object-contain w-8 h-8 lg:w-12 lg:h-12"
                >
              </div>
            {% endif %}
            <div class="flex flex-col gap-2 lg:gap-3">
              <h3 class="heading-h4 text-text-primary">{{ block.settings.title }}</h3>
              <div class="lg:text-lg leading-normal text-text-secondary">{{ block.settings.description }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Cards",
  "settings": [],
  "blocks": [
    {
      "type": "about-card",
      "name": "About Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}
