<section>
  <div class="global-padding pt-5 pb-10 lg:py-16">
    <div class="max-w-3xl mx-auto w-full">
      {{ article.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Article Body",
  "settings": [],
  "blocks": []
}
{% endschema %}
