<section class="py-16">
  <div class="global-padding">
    <div class="container-large">
      <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center mb-6 lg:mb-12 gap-4">
        <h2 class="heading-h2 text-text-primary">{{ section.settings.title }}</h2>
        {% render 'button',
          text: 'Vezi toate',
          type: 'link',
          hierarchy: 'primary',
          href: section.settings.collection.url
        %}
      </div>
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-5">
        {% assign shown_count = 0 %}
        {% for product in section.settings.collection.products %}
          {% if shown_count >= 4 %}{% break %}{% endif %}
          {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
            {% render 'product-card', product: product %}
            {% assign shown_count = shown_count | plus: 1 %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Cele mai mici prețuri"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Vezi toate"
    }
  ],
  "blocks": []
}
{% endschema %}
