section class="py-16">
  <div class="global-padding">
    <div class="container-large">
      <h2 class="heading-h2 text-text-primary mb-6 lg:mb-12">{{ section.settings.title }}</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
        {% for block in section.blocks %}
          {% if block.type == 'brand' %}
            {% assign img = block.settings.img %}
            {% assign url = block.settings.url %}
            {% if img != blank %}
              <a
                href="{{ url }}"
                class="brand-link w-full rounded-2xl border-2 border-border-primary flex items-center justify-center h-auto lg:h-auto global-transition hover:border-border-secondary hover:border-dashed"
              >
                <img
                  src="{{ img | image_url: master }}"
                  width="auto"
                  height="auto"
                  class="brand-image w-auto h-auto"
                  style="max-width: 100%; max-height: 100%; object-fit: contain;"
                >
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Brands",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Brandurile noastre"
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}