<section>
  <div class="global-padding pt-5 pb-10 lg:py-20">
    <div class="container-large">
      <h1 class="heading-h1 text-text-primary mb-6 lg:mb-14">Colecții</h1>
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-12">
        {% for collection in collections %}
          {% render 'collection-card', collection: collection %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
