<section>
  <div class="global-padding pt-5 pb-10 lg:py-20">
    <div class="container-large">
      <div class="grid lg:grid-cols-2 gap-6 lg:gap-12">
        <div class="max-w-[470px]">
          <h1 class="heading-h1 text-text-primary mb-6 lg:mb-14">Contact</h1>
          <div class="flex flex-col gap-3">
            {% for block in section.blocks %}
              {% if block.type == 'contact_info' %}
                {% render 'contact-info-block', icon: block.settings.icon, richtext: block.settings.richtext %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="bg-bg-primary rounded-3xl border-2 lg:border-[3px] border-dashed border-border-secondary p-6 lg:p-8">
          {% form 'contact', class: 'flex flex-col gap-4 lg:gap-6' %}
            {% render 'input', label: 'Nume', id: 'name', name: 'contact[name]', required: true, placeholder: 'Nume' %}
            {% render 'input',
              label: 'Email',
              type: 'email',
              id: 'email',
              name: 'contact[email]',
              required: true,
              placeholder: 'Email'
            %}
            {% render 'text-area',
              label: 'Mesaj',
              id: 'message',
              name: 'contact[body]',
              required: true,
              placeholder: 'Scrie aici mesajul tău'
            %}
            {% render 'input-checkbox',
              label: 'Sunt de acord cu <a href="/policies/privacy" target="_blank" class="text-text-secondary global-transition hover:text-text-primary">Termenii si Conditiile</a>',
              id: 'legal',
              name: 'contact[legal]',
              required: true
            %}
            {% comment %} <div class="g-recaptcha" data-sitekey="{{ shop.recaptcha_public_key }}"></div> {% endcomment %}
            <button
              type="submit"
              class="h-12 py-3 px-4 rounded-3xl text-lg font-semibold inline-flex items-center justify-center  bg-brand-turquoise hover:bg-[#3E8E94] text-white global-transition"
            >
              Trimite
            </button>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Contact",
  "settings": [],
  "blocks": [
    {
      "type": "contact_info",
      "name": "Contact Information",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            { "value": "mail", "label": "Email" },
            { "value": "phone", "label": "Phone" },
            { "value": "location", "label": "Location" },
            { "value": "clock", "label": "Schedule" }
          ],
          "default": "mail"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Content",
          "default": "<p>Content</p>"
        }
      ]
    }
  ]
}
{% endschema %}
