<section>
  <div class="global-padding pt-5 pb-10 lg:py-20">
    <div class="container-large">
      <h1 class="heading-h1 text-text-primary mb-6 lg:mb-14">Cart</h1>
      <div class="grid lg:grid-cols-2 gap-6 lg:gap-12">
        <ul class="flex flex-col gap-5 w-full">
          {% for item in cart.items %}
            {% render 'cart-item', item: item %}
          {% endfor %}
        </ul>
        <div>
          {% render 'cart-subtotal', cart: cart %}
        </div>
      </div>
    </div>
  </div>
</section>
