<section>
  <div class="global-padding pt-5 pb-10 lg:py-16">
    <div class="container-large">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-20">
        <div>
          <h2 class="heading-h2 text-text-primary">{{ page.title }}</h2>
        </div>
        <div>
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</section>
