<section>
  <div class="global-padding py-6">
    <div class="container-large">
      <div class="flex items-center gap-3 mb-8">
        <a href="/collections" class="text-text-secondary font-medium global-transition hover:text-text-primary"
          >Colecții</a
        >
        {% render 'icon-chevron-right', width: 16, height: 16, class: 'text-text-primary' %}
        <h1 class="text-text-primary font-medium">{{ collection.title }}</h1>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-12 gap-5">
        <div class="lg:col-span-3">
          {% render 'filters', location: 'collection' %}
        </div>
        <div class="lg:col-span-9">
          <div class="flex lg:flex-row flex-col-reverse justify-end items-center gap-3 mb-12">
            {% comment %}
              {% render 'filter-search',
                id: 'search',
                name: 'q',
                placeholder: 'Caută produs...',
                class: 'w-full lg:w-[23.75rem]'
              %}
            {% endcomment %}

            {% render 'filter-select',
              id: 'sort_by',
              name: 'sort_by',
              options: 'Crescător, Descrescător, Noutăți',
              placeholder: 'Sortează',
              class: 'w-full lg:w-fit'
            %}
          </div>
          <div class="flex flex-col gap-4">
            {% paginate collection.products by section.settings.products_per_page %}
              <div class="grid grid-cols-2 lg:grid-cols-3 gap-5" id="product-grid">
                {% for product in collection.products %}
                    {% render 'product-card', product: product %}
                {% endfor %}
              </div>

              <div class="mt-auto">
                {%- if paginate.pages > 1 -%}
                  {% render 'pagination', paginate: paginate, anchor: '' %}
                {%- endif -%}
              </div>

              {% render 'infinite-scroll',
                next_page: paginate.next.url,
                page_size: paginate.pages,
                end_text: 'Nu mai sunt produse de afișat.'
              %}
            {% endpaginate %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="hidden" pxm-data="related-collections">
  {% for related_collection in collections %}
    {% if related_collection.metafields.custom.parent_collection != blank %}
      {% assign related_collection_id = related_collection.metafields.custom.parent_collection
        | split: '/'
        | last
        | plus: 0
      %}

      {% if related_collection_id == collection.id %}
        <div pxm-data="related-collection-item">
          <p pxm-item="title">{{ related_collection.title }}</p>
          <p pxm-item="url">{{ related_collection.url }}</p>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Main Collection",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 32,
      "step": 8,
      "default": 8,
      "label": "products_per_page"
    }
  ],
  "blocks": []
}
{% endschema %}
