{% schema %}
{
  "name": "Page Default Gog",
  "settings": []
}
{% endschema %}

<section>
  <div class="global-padding pt-5 pb-10 lg:py-16">
    <div class="container-large">
      <div class="mx-auto">
        <div class="mb-6 lg:mb-16 flex flex-col lg:items-center gap-3">
                <div class="rte">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</div>
</section>