{% schema %}
{
  "name": "Page Default Gog",
  "settings": []
}
{% endschema %}

<div class="template-404 page-width page-margin center">
  <div class="rte">
    {{ page.content }}
  </div>
</div>