<section class="py-16">
  <div class="global-padding">
    <div class="container-large">
      <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center mb-6 lg:mb-12 gap-4">
        <h2 class="heading-h2 text-text-primary">{{ section.settings.title }}</h2>
      </div>
      <div
        class="grid grid-cols-2 lg:grid-cols-4 gap-5"
        id="recently-viewed-products"
        data-product-id="{{ product.id }}"
        data-product-handle="{{ product.handle }}"
      ></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Recently Viewed Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Vizualizate recent"
    }
  ]
}
{% endschema %}
