<section>
  <div class="global-padding pb-10 lg:pb-16">
    <div class="container-large">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-5 gap-y-12">
        {% for article in blog.articles %}
          {% render 'blog-card', article: article %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blog Listing",
  "settings": [],
  "blocks": []
}
{% endschema %}
