.home-hero_wrapper {
  margin-top: 0rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 1.25rem;
}

@media (max-width: 1023px) {
  .home-hero_wrapper {
    display: block;
    margin-top: 1rem;
  }

  .home-hero_left {
    display: none;
  }

  .home-hero_right {
    aspect-ratio: 1/1;
    width: 100%;
  }

  .home-hero_swiper,
  .home-hero_swiper .swiper-wrapper,
  .home-hero_swiper-slide {
    aspect-ratio: 4/3;
    height: 100%;
  }
}

.home-hero_left {
  position: relative;
  padding: 10px;
  border-radius: 1rem;
  border: 2px dashed #ea8050;
}

.home-hero_right {
  overflow: hidden;
  border-radius: 1rem;
}

.home-hero_category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-radius: 60px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.home-hero_category:hover {
  background-color: #ea8050;
}

.home-hero_category-arrow {
  margin-left: auto;
  fill: white;
  stroke: white;
}

.home-hero_category-title {
  font-size: 1rem;
  font-weight: 500;
  color: #383838;
  margin: 0;
  transition: color 0.3s ease;
}

.home-hero_category:hover .home-hero_category-title {
  color: white;
}

.home-hero_category.is-active {
  background-color: #ea8050;
}

.home-hero_category.is-active .home-hero_category-title {
  color: white;
}

.home-hero_category .home-hero_category-icon path {
  transition: stroke 0.3s ease-in-out;
}

.home-hero_category.is-active .home-hero_category-icon path {
  stroke: var(--text-color-tertiary) !important;
}

.home-hero_category .home-hero_category-icon {
  margin-right: 0.75rem;
}

.home-hero_subcategories-inner {
  position: static;
  margin-left: 40px;
  z-index: 2;
  background: white;
  padding: 2rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid var(--border-color-primary);
  min-width: 400px;
}

.home-hero_subcategories-wrapper {
  padding-top: 1rem;
  position: absolute;
  top: 0%;
  left: 100%;
  margin-left: 0px;
  height: 100%;
  z-index: 2;
  background: transparent;
  display: none;
}

.home-hero_subcategories-list {
  width: 100%;
}

.subcategory-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
}

.subcategory-group.hidden {
  display: none;
}

.home-hero_subcategories-item {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  background: transparent;
  color: #6e6e6e;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.home-hero_subcategories-item:hover {
  background: #f7f7f7;
  color: #383838;
}

.home-hero_swiper-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.home-hero_swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.home-hero_swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: white;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.home-hero_swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

.home-hero_swiper-pagination {
  position: absolute;
  bottom: 20px !important;
  right: auto !important;
  left: 20px !important;
  width: auto !important;
  z-index: 10;
}
